IMPORT THE TEST AND TRAIN DATA

In [1]:
import pandas as pd
df_Train=pd.read_csv("Final_Train.csv")
print (df_Train)

                       Qualification           Experience Rating  \
0              BHMS, MD - Homeopathy  24 years experience   100%
1       BAMS, MD - Ayurveda Medicine  12 years experience    98%
2     MBBS, MS - Otorhinolaryngology   9 years experience    NaN
3                BSc - Zoology, BAMS  12 years experience    NaN
4                               BAMS  20 years experience   100%
...                              ...                  ...    ...
5956                  MBBS, MS - ENT  19 years experience    98%
5957                            MBBS  33 years experience    NaN
5958                            MBBS  41 years experience    97%
5959     MBBS, MD - General Medicine  15 years experience    90%
5960         BDS, MDS - Orthodontics  17 years experience   100%

                              Place           Profile  \
0               Kakkanad, Ernakulam         Homeopath
1             Whitefield, Bangalore          Ayurveda
2        Mathikere - BEL, Bangalore    ENT Specialist
3      Bannerghatta Road, Bangalore          Ayurveda
4             Keelkattalai, Chennai          Ayurveda
...                             ...               ...
5956        Basavanagudi, Bangalore    ENT Specialist
5957          Nungambakkam, Chennai  General Medicine
5958  Greater Kailash Part 2, Delhi  General Medicine
5959         Vileparle West, Mumbai  General Medicine
5960               Pitampura, Delhi           Dentist

                                     Miscellaneous_Info  Fees
0                  100% 16 Feedback Kakkanad, Ernakulam   100
1                 98% 76 Feedback Whitefield, Bangalore   350
2                                                   NaN   300
3     Bannerghatta Road, Bangalore ?250 Available on...   250
4                 100% 4 Feedback Keelkattalai, Chennai   250
...                                                 ...   ...
5956            98% 45 Feedback Basavanagudi, Bangalore   300
5957                                                NaN   100
5958      97% 11 Feedback Greater Kailash Part 2, Delhi   600
5959  General Medical Consultation Viral Fever Treat...   100
5960  Acrylic Partial Denture Crowns and Bridges Fix...   200

[5961 rows x 7 columns]

In [2]:
import pandas as pd
df_Test=pd.read_csv("Final_test.csv")
print (df_Test)

                                        Qualification           Experience  \
0                                                MBBS  35 years experience
1          MBBS, Diploma in Otorhinolaryngology (DLO)  31 years experience
2                                          MBBS, DDVL  40 years experience
3                                                BAMS   0 years experience
4     BDS, MDS - Conservative Dentistry & Endodontics  16 years experience
...                                               ...                  ...
1982                         BAMS, Doctor of Medicine  10 years experience
1983   MD - Dermatology , Venereology & Leprosy, MBBS   4 years experience
1984         MBBS, MD / MS - Obstetrics & Gynaecology   9 years experience
1985                                              BDS  12 years experience
1986   MBBS, MD - Dermatology , Venereology & Leprosy   8 years experience

     Rating                        Place           Profile  \
0       NaN       Ghatkopar East, Mumbai  General Medicine
1       NaN  West Marredpally, Hyderabad    ENT Specialist
2       70%            KK Nagar, Chennai    Dermatologists
3       NaN       New Ashok Nagar, Delhi          Ayurveda
4      100%    Kanakpura Road, Bangalore           Dentist
...     ...                          ...               ...
1982    NaN      Basavanagudi, Bangalore          Ayurveda
1983    NaN             Choolai, Chennai    Dermatologists
1984    NaN               Porur, Chennai  General Medicine
1985    98%           Arekere, Bangalore           Dentist
1986    NaN        Pallikaranai, Chennai    Dermatologists

                                     Miscellaneous_Info
0                                                   NaN
1                                                   NaN
2                      70% 4 Feedback KK Nagar, Chennai
3                                                   NaN
4     General Dentistry Conservative Dentistry Cosme...
...                                                 ...
1982                                                NaN
1983                                                NaN
1984                                                NaN
1985  RCT - Root Canal Treatment Root Canal Treatmen...
1986              1 Feedback Pallikaranai, Chennai ?500

[1987 rows x 6 columns]

COMBINING TEST AND TRAIN DATA

In [4]:
df_Final=df_Train.append(df_Test,sort=False)

In [5]:
df_Final.head(10)

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350.0
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300.0
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250.0
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250.0
5,BAMS,8 years experience,NaN,"Porur, Chennai",Ayurveda,NaN,100.0
6,BHMS,42 years experience,NaN,"Karol Bagh, Delhi",Homeopath,NaN,200.0
7,BDS,10 years experience,99%,"Arekere, Bangalore",Dentist,Dental Fillings Crowns and Bridges Fixing Impa...,200.0
8,"MBBS, MD - General Medicine",14 years experience,NaN,"Old City, Hyderabad",General Medicine,NaN,100.0
9,"BSc, BDS",23 years experience,NaN,"Athani, Ernakulam",Dentist,NaN,100.0

EXTRACTING QUALIFICATION COLUMNS

In [6]:
import numpy as np
x=np.where(df_Final.Qualification.str.contains('(MBBS|BDS|MD|MS|LCEH|DDVL|BAMS|BSAM|BHMS|DHMS|DNB|Get inspired)')==False)

C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [7]:
for i in x:
    print(df_Final.iloc[i,:].Qualification)

104     PhD - Orthodontics & Dentofacial Orthopaedics,...
224                                                  GCEH
753                                   39 years experience
829     Diplomate of National Board Exam, Diploma in O...
1030                 Diploma in Otorhinolaryngology (DLO)
1064              GCEH, Certificate in Child Health (CCH)
1265                               Diploma in Dermatology
1297                                              G.A.M.S
2005                                              G.A.M.S
2035    Fellowship in Oral implantlogy, Certified Adva...
2975                                           M.D. (E.H)
4503                                                  DDV
4757    Diploma in Otorhinolaryngology (DLO), Diploma ...
5182                                              G.A.M.S
443                                FRCS - General Surgery
471                                            FWFO, FPFA
1139                               Diploma in Dermatology
1159                  Diploma in Ayurvedic Medicine (DAM)
1573                                                 FICD
Name: Qualification, dtype: object

In [8]:
df_Final['MBBS']=df_Final.Qualification.str.extract('(MBBS)')
df_Final['BDS']=df_Final.Qualification.str.extract('(BDS)')
df_Final['MD']=df_Final.Qualification.str.extract('(MD)')
df_Final['MS']=df_Final.Qualification.str.extract('(MS)')
df_Final['LCEH']=df_Final.Qualification.str.extract('(LCEH)')
df_Final['DDVL']=df_Final.Qualification.str.extract('(DDVL)')
df_Final['BAMS']=df_Final.Qualification.str.extract('(BAMS)')
df_Final['BSAM']=df_Final.Qualification.str.extract('(BSAM)')
df_Final['BHMS']=df_Final.Qualification.str.extract('(BHMS)')
df_Final['DHMS']=df_Final.Qualification.str.extract('(DHMS)')
df_Final['DNB']=df_Final.Qualification.str.extract('(DNB)')
df_Final['Get']=df_Final.Qualification.str.extract('(Get inspired)')

CHECKING NULL VALUES

In [9]:
df_Final.isnull().sum()

Qualification            0
Experience               0
Rating                4392
Place                   31
Profile                  0
Miscellaneous_Info    3454
Fees                  1987
MBBS                  4164
BDS                   6158
MD                    4875
MS                    5067
LCEH                  7926
DDVL                  7720
BAMS                  6943
BSAM                  7938
BHMS                  6952
DHMS                  7883
DNB                   7386
Get                   7918
dtype: int64

In [10]:
df_Final['Rating'].fillna('0%',inplace = True)

In [11]:
df_Final['Rating'] = df_Final['Rating'].str.slice(stop=-1).astype(int)

DROPPING QUALIFICATION AND MISSLENEOUS INFO COLUMN

In [12]:
df_Final=df_Final.drop(['Qualification'],axis=1)
df_Final=df_Final.drop(['Miscellaneous_Info'],axis=1)

In [13]:
df_Final['Place']=df_Final['Place'].fillna('no city')
df_Final['Fees'].fillna((df_Final['Fees'].mean()),inplace=True)
df_Final['MBBS']=df_Final['MBBS'].fillna('none')
df_Final['BDS']=df_Final['BDS'].fillna('none')
df_Final['MD']=df_Final['MD'].fillna('none')

df_Final['MS']=df_Final['MS'].fillna('none')

df_Final['LCEH']=df_Final['LCEH'].fillna('none')
df_Final['DDVL']=df_Final['DDVL'].fillna('none')
df_Final['BAMS']=df_Final['BAMS'].fillna('none')
df_Final['BSAM']=df_Final['BSAM'].fillna('none')
df_Final['BHMS']=df_Final['BHMS'].fillna('none')

df_Final['DHMS']=df_Final['DHMS'].fillna('none')
df_Final['DNB']=df_Final['DNB'].fillna('none')

df_Final['Get']=df_Final['Get'].fillna('none')

In [14]:
df_Final.isnull().sum()

Experience    0
Rating        0
Place         0
Profile       0
Fees          0
MBBS          0
BDS           0
MD            0
MS            0
LCEH          0
DDVL          0
BAMS          0
BSAM          0
BHMS          0
DHMS          0
DNB           0
Get           0
dtype: int64

In [15]:
df_Final.columns

Index(['Experience', 'Rating', 'Place', 'Profile', 'Fees', 'MBBS', 'BDS', 'MD',
       'MS', 'LCEH', 'DDVL', 'BAMS', 'BSAM', 'BHMS', 'DHMS', 'DNB', 'Get'],
      dtype='object')

In [16]:
df_Final.head()

,Experience,Rating,Place,Profile,Fees,MBBS,BDS,MD,MS,LCEH,DDVL,BAMS,BSAM,BHMS,DHMS,DNB,Get
0,24 years experience,100,"Kakkanad, Ernakulam",Homeopath,100.0,none,none,MD,MS,none,none,none,none,BHMS,none,none,none
1,12 years experience,98,"Whitefield, Bangalore",Ayurveda,350.0,none,none,MD,MS,none,none,BAMS,none,none,none,none,none
2,9 years experience,0,"Mathikere - BEL, Bangalore",ENT Specialist,300.0,MBBS,none,none,MS,none,none,none,none,none,none,none,none
3,12 years experience,0,"Bannerghatta Road, Bangalore",Ayurveda,250.0,none,none,none,MS,none,none,BAMS,none,none,none,none,none
4,20 years experience,100,"Keelkattalai, Chennai",Ayurveda,250.0,none,none,none,MS,none,none,BAMS,none,none,none,none,none

PERFORMING SOME FEATURE ENGINEERING

In [17]:
df_Final['Profile']=df_Final['Profile'].astype('category')

In [18]:
df_Final['Experience1']=df_Final['Experience'].str.split('years experience').str[0]
df_Final['Experience2']=df_Final['Experience'].str.split('years experience').str[1]

In [19]:
df_Final=df_Final.drop(['Experience'],axis=1)
df_Final=df_Final.drop(['Experience2'],axis=1)

In [20]:
df_Final['Experience1']=df_Final['Experience1'].astype(int)

In [21]:
df_Final['Place1']=df_Final['Place'].str.split(',').str[0]
df_Final['Place2']=df_Final['Place'].str.split(',').str[1]

In [22]:
df_Final=df_Final.drop(['Place'],axis=1)

CHECKING DATA TYPES

In [23]:
df_Final.dtypes

Rating            int32
Profile        category
Fees            float64
MBBS             object
BDS              object
MD               object
MS               object
LCEH             object
DDVL             object
BAMS             object
BSAM             object
BHMS             object
DHMS             object
DNB              object
Get              object
Experience1       int32
Place1           object
Place2           object
dtype: object

In [24]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Profile"]=LE.fit_transform(df_Final['Profile'])
df_Final["MBBS"]=LE.fit_transform(df_Final['MBBS'])
df_Final["Place2"]=LE.fit_transform(df_Final['Place2'])
df_Final["BDS"]=LE.fit_transform(df_Final['BDS'])
df_Final["MD"]=LE.fit_transform(df_Final['MD'])
df_Final["Get"]=LE.fit_transform(df_Final['Get'])
df_Final["MS"]=LE.fit_transform(df_Final['MS'])
df_Final["LCEH"]=LE.fit_transform(df_Final['LCEH'])
df_Final["DDVL"]=LE.fit_transform(df_Final['DDVL'])
df_Final["BAMS"]=LE.fit_transform(df_Final['BAMS'])
df_Final["BSAM"]=LE.fit_transform(df_Final['BSAM'])
df_Final["BHMS"]=LE.fit_transform(df_Final['BHMS'])
df_Final["DHMS"]=LE.fit_transform(df_Final['DHMS'])
df_Final["DNB"]=LE.fit_transform(df_Final['DNB'])
df_Final["Place1"]=LE.fit_transform(df_Final['Place1'])

In [25]:
df_Final.dtypes

Rating           int32
Profile          int32
Fees           float64
MBBS             int32
BDS              int32
MD               int32
MS               int32
LCEH             int32
DDVL             int32
BAMS             int32
BSAM             int32
BHMS             int32
DHMS             int32
DNB              int32
Get              int32
Experience1      int32
Place1           int32
Place2           int32
dtype: object

SCALING THE DATA

In [26]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
scaled = mms.fit_transform(df_Final)
print(scaled)

[[1.         1.         0.1005291  ... 0.36363636 0.34578442 0.44444444]
 [0.98       0.         0.36507937 ... 0.18181818 0.98719317 0.        ]
 [0.         0.6        0.31216931 ... 0.13636364 0.52721451 0.        ]
 ...
 [0.         0.8        0.32057634 ... 0.13636364 0.7022412  0.11111111]
 [0.98       0.2        0.32057634 ... 0.18181818 0.03628602 0.        ]
 [0.         0.4        0.32057634 ... 0.12121212 0.64781217 0.11111111]]

SPLITTING INTO X AND Y

In [29]:
df_train=df_Final[0:5961]
df_test=df_Final[5961:]

In [30]:
x=df_train.drop(["Fees"],axis=1)
y=df_train["Fees"]

In [31]:
x.head()

,Rating,Profile,MBBS,BDS,MD,MS,LCEH,DDVL,BAMS,BSAM,BHMS,DHMS,DNB,Get,Experience1,Place1,Place2
0,100,5,1,1,0,0,1,1,1,1,0,1,1,1,24,324,4
1,98,0,1,1,0,0,1,1,0,1,1,1,1,1,12,925,0
2,0,3,0,1,1,0,1,1,1,1,1,1,1,1,9,494,0
3,0,0,1,1,1,0,1,1,0,1,1,1,1,1,12,74,0
4,100,0,1,1,1,0,1,1,0,1,1,1,1,1,20,367,1

In [32]:
y.head()

0    100.0
1    350.0
2    300.0
3    250.0
4    250.0
Name: Fees, dtype: float64

CHOOSING BEST RANDOM STATE BUILDING MODELS

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

for i in range(0,100):
    x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=i)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    pred_train=lr.predict(x_train)
    pred_test=lr.predict(x_test)
    print(f"at random state {i} the training accuracy is:-{r2_score (y_train,pred_train)}")
    print(f"at random state {i} the testing accuracy is:-{r2_score (y_test,pred_test)}")
    print("\n")

at random state 0 the training accuracy is:-0.15264285778462594
at random state 0 the testing accuracy is:-0.15367555524779586


at random state 1 the training accuracy is:-0.15056990977882545
at random state 1 the testing accuracy is:-0.16156386356014096


at random state 2 the training accuracy is:-0.15813242004226546
at random state 2 the testing accuracy is:-0.14563704000468503


at random state 3 the training accuracy is:-0.16054803342972923
at random state 3 the testing accuracy is:-0.13529126532818592


at random state 4 the training accuracy is:-0.16429877406258775
at random state 4 the testing accuracy is:-0.1335716267559237


at random state 5 the training accuracy is:-0.15661314598662412
at random state 5 the testing accuracy is:-0.1474086719051202


at random state 6 the training accuracy is:-0.15466968190353092
at random state 6 the testing accuracy is:-0.1512735418711162


at random state 7 the training accuracy is:-0.17256607567425986
at random state 7 the testing accuracy is:-0.10517457331025148


at random state 8 the training accuracy is:-0.15830090288574195
at random state 8 the testing accuracy is:-0.13824717144638798


at random state 9 the training accuracy is:-0.16356359835249845
at random state 9 the testing accuracy is:-0.13198440901297914


at random state 10 the training accuracy is:-0.15410092234896855
at random state 10 the testing accuracy is:-0.14872498565433612


at random state 11 the training accuracy is:-0.1482062376038249
at random state 11 the testing accuracy is:-0.1653178566546898


at random state 12 the training accuracy is:-0.14796840066173045
at random state 12 the testing accuracy is:-0.16553151771757502


at random state 13 the training accuracy is:-0.15091878339530962
at random state 13 the testing accuracy is:-0.1610096539510536


at random state 14 the training accuracy is:-0.1717893991125896
at random state 14 the testing accuracy is:-0.1176507734476614


at random state 15 the training accuracy is:-0.15047684370709014
at random state 15 the testing accuracy is:-0.15784616114253502


at random state 16 the training accuracy is:-0.15857732669587243
at random state 16 the testing accuracy is:-0.14307254872489383


at random state 17 the training accuracy is:-0.1584069199430681
at random state 17 the testing accuracy is:-0.14648812170656933


at random state 18 the training accuracy is:-0.1636237633385872
at random state 18 the testing accuracy is:-0.13447685145335253


at random state 19 the training accuracy is:-0.16207767980605225
at random state 19 the testing accuracy is:-0.13551037033664504


at random state 20 the training accuracy is:-0.1520193548637302
at random state 20 the testing accuracy is:-0.15810772639858595


at random state 21 the training accuracy is:-0.15841893866981616
at random state 21 the testing accuracy is:-0.14439669844139347


at random state 22 the training accuracy is:-0.16416610197870096
at random state 22 the testing accuracy is:-0.1303372568705663


at random state 23 the training accuracy is:-0.15758000811390827
at random state 23 the testing accuracy is:-0.14524172423781223


at random state 24 the training accuracy is:-0.16594142742774431
at random state 24 the testing accuracy is:-0.12939960794295502


at random state 25 the training accuracy is:-0.14637975691938476
at random state 25 the testing accuracy is:-0.16855052833513728


at random state 26 the training accuracy is:-0.15509515765307624
at random state 26 the testing accuracy is:-0.15143549042435944


at random state 27 the training accuracy is:-0.1457682944545986
at random state 27 the testing accuracy is:-0.1716757335546012


at random state 28 the training accuracy is:-0.1609580302973893
at random state 28 the testing accuracy is:-0.13871013268691934


at random state 29 the training accuracy is:-0.160024008750567
at random state 29 the testing accuracy is:-0.14127732045669827


at random state 30 the training accuracy is:-0.14701579064079628
at random state 30 the testing accuracy is:-0.16776358393324542


at random state 31 the training accuracy is:-0.15293405540835459
at random state 31 the testing accuracy is:-0.1548731455057768


at random state 32 the training accuracy is:-0.16250486007552378
at random state 32 the testing accuracy is:-0.13469048696059183


at random state 33 the training accuracy is:-0.16031862660136853
at random state 33 the testing accuracy is:-0.13888206213956233


at random state 34 the training accuracy is:-0.1571123622029118
at random state 34 the testing accuracy is:-0.14627669915285457


at random state 35 the training accuracy is:-0.15195475214133358
at random state 35 the testing accuracy is:-0.15824814212943306


at random state 36 the training accuracy is:-0.14916689161102825
at random state 36 the testing accuracy is:-0.16316274845856193


at random state 37 the training accuracy is:-0.15748737257673906
at random state 37 the testing accuracy is:-0.14650513569490775


at random state 38 the training accuracy is:-0.1548346535905909
at random state 38 the testing accuracy is:-0.15131506622202417


at random state 39 the training accuracy is:-0.15295975954909014
at random state 39 the testing accuracy is:-0.15313946108676268


at random state 40 the training accuracy is:-0.1607879120972343
at random state 40 the testing accuracy is:-0.13943008054850414


at random state 41 the training accuracy is:-0.15097699306655676
at random state 41 the testing accuracy is:-0.15973731591298612


at random state 42 the training accuracy is:-0.14191932529601647
at random state 42 the testing accuracy is:-0.17675748881839415


at random state 43 the training accuracy is:-0.1503086789851238
at random state 43 the testing accuracy is:-0.16066876852715317


at random state 44 the training accuracy is:-0.14940077397472995
at random state 44 the testing accuracy is:-0.16238230744207094


at random state 45 the training accuracy is:-0.1587290571637916
at random state 45 the testing accuracy is:-0.1430342422779085


at random state 46 the training accuracy is:-0.15844624647428351
at random state 46 the testing accuracy is:-0.1460738240149596


at random state 47 the training accuracy is:-0.15951717742265825
at random state 47 the testing accuracy is:-0.14400703554120553


at random state 48 the training accuracy is:-0.15342732999245712
at random state 48 the testing accuracy is:-0.15544291394243692


at random state 49 the training accuracy is:-0.15907503495316522
at random state 49 the testing accuracy is:-0.14256840506346047


at random state 50 the training accuracy is:-0.16176792822654162
at random state 50 the testing accuracy is:-0.1379130683481451


at random state 51 the training accuracy is:-0.15280463660536348
at random state 51 the testing accuracy is:-0.1558410381511386


at random state 52 the training accuracy is:-0.16781461420508215
at random state 52 the testing accuracy is:-0.12592163613200924


at random state 53 the training accuracy is:-0.15472508305852983
at random state 53 the testing accuracy is:-0.1530141231895592


at random state 54 the training accuracy is:-0.15671814871752254
at random state 54 the testing accuracy is:-0.14475096097783735


at random state 55 the training accuracy is:-0.1524434587195429
at random state 55 the testing accuracy is:-0.15657317300398277


at random state 56 the training accuracy is:-0.15273992277963533
at random state 56 the testing accuracy is:-0.15787269554161454


at random state 57 the training accuracy is:-0.14872637307567005
at random state 57 the testing accuracy is:-0.16469078543312243


at random state 58 the training accuracy is:-0.1668077717197094
at random state 58 the testing accuracy is:-0.12533064199431587


at random state 59 the training accuracy is:-0.15067987199638966
at random state 59 the testing accuracy is:-0.15716378884707283


at random state 60 the training accuracy is:-0.15651299093271775
at random state 60 the testing accuracy is:-0.1459402903597281


at random state 61 the training accuracy is:-0.16794966559814417
at random state 61 the testing accuracy is:-0.12220160140048808


at random state 62 the training accuracy is:-0.15768207104349163
at random state 62 the testing accuracy is:-0.1460976624386131


at random state 63 the training accuracy is:-0.15371022861364092
at random state 63 the testing accuracy is:-0.15507606586542655


at random state 64 the training accuracy is:-0.15592629869302843
at random state 64 the testing accuracy is:-0.14984792760601418


at random state 65 the training accuracy is:-0.1552826433360116
at random state 65 the testing accuracy is:-0.15153905650728083


at random state 66 the training accuracy is:-0.15365235990342907
at random state 66 the testing accuracy is:-0.15423478839535665


at random state 67 the training accuracy is:-0.16273199324431808
at random state 67 the testing accuracy is:-0.13575644509470908


at random state 68 the training accuracy is:-0.14902583968561134
at random state 68 the testing accuracy is:-0.16343468391910798


at random state 69 the training accuracy is:-0.15300390998247104
at random state 69 the testing accuracy is:-0.1560842143105411


at random state 70 the training accuracy is:-0.15258009587455001
at random state 70 the testing accuracy is:-0.1555183893459856


at random state 71 the training accuracy is:-0.15840967301427045
at random state 71 the testing accuracy is:-0.1402253014514364


at random state 72 the training accuracy is:-0.1636993574942076
at random state 72 the testing accuracy is:-0.13327921636040974


at random state 73 the training accuracy is:-0.14969775656117756
at random state 73 the testing accuracy is:-0.16267698169519762


at random state 74 the training accuracy is:-0.152263128165677
at random state 74 the testing accuracy is:-0.15587930716423615


at random state 75 the training accuracy is:-0.15669673522192973
at random state 75 the testing accuracy is:-0.1495643237967058


at random state 76 the training accuracy is:-0.15025422433490454
at random state 76 the testing accuracy is:-0.16087890199155663


at random state 77 the training accuracy is:-0.15429546674878736
at random state 77 the testing accuracy is:-0.15341390191214377


at random state 78 the training accuracy is:-0.15319949912046038
at random state 78 the testing accuracy is:-0.1549719264938112


at random state 79 the training accuracy is:-0.16495494340849914
at random state 79 the testing accuracy is:-0.12956534041691126


at random state 80 the training accuracy is:-0.15616188718155743
at random state 80 the testing accuracy is:-0.1497600922062049


at random state 81 the training accuracy is:-0.15228992506647276
at random state 81 the testing accuracy is:-0.15527278865027505


at random state 82 the training accuracy is:-0.1483130658621591
at random state 82 the testing accuracy is:-0.16649187511407681


at random state 83 the training accuracy is:-0.1473028180531265
at random state 83 the testing accuracy is:-0.1660506884149242


at random state 84 the training accuracy is:-0.14922445220448277
at random state 84 the testing accuracy is:-0.1606877024397907


at random state 85 the training accuracy is:-0.16580890612847154
at random state 85 the testing accuracy is:-0.12885397933109022


at random state 86 the training accuracy is:-0.15214189629778152
at random state 86 the testing accuracy is:-0.15670229020550575


at random state 87 the training accuracy is:-0.1529384046045027
at random state 87 the testing accuracy is:-0.15167492039535335


at random state 88 the training accuracy is:-0.15356501840239956
at random state 88 the testing accuracy is:-0.15651759234088491


at random state 89 the training accuracy is:-0.14222138268236795
at random state 89 the testing accuracy is:-0.17551153869837732


at random state 90 the training accuracy is:-0.1500002945866431
at random state 90 the testing accuracy is:-0.1586930931297752


at random state 91 the training accuracy is:-0.1617283782164538
at random state 91 the testing accuracy is:-0.1329265498556037


at random state 92 the training accuracy is:-0.1609320816265084
at random state 92 the testing accuracy is:-0.14055244707128556


at random state 93 the training accuracy is:-0.14962908971615763
at random state 93 the testing accuracy is:-0.1611965342395989


at random state 94 the training accuracy is:-0.15207769496026124
at random state 94 the testing accuracy is:-0.1570594889782343


at random state 95 the training accuracy is:-0.1578777666683111
at random state 95 the testing accuracy is:-0.14313612763268246


at random state 96 the training accuracy is:-0.15243316331491452
at random state 96 the testing accuracy is:-0.15718373871443092


at random state 97 the training accuracy is:-0.16072642930508474
at random state 97 the testing accuracy is:-0.13858192325674323


at random state 98 the training accuracy is:-0.15575725184076294
at random state 98 the testing accuracy is:-0.14862732635608422


at random state 99 the training accuracy is:-0.15585548785988046
at random state 99 the testing accuracy is:-0.15088235762871804

In [34]:
x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=56)

In [35]:
lr.fit(x_train,y_train)

LinearRegression()

In [36]:
pred_test=lr.predict(x_test)

In [37]:
print(r2_score (y_test,pred_test))

0.15787269554161454

LASSO REGULARIZATION

In [38]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import Lasso
parameters = {'alpha':[.0001,.001,.01,.1,1,10],'random_state':(range(0,10))}
ls= Lasso()
clf = GridSearchCV(ls,parameters)
clf.fit(x_train,y_train)
print(clf.best_params_)

{'alpha': 0.0001, 'random_state': 0}

In [39]:
ls = Lasso(alpha=0.0001,random_state=0)
ls.fit(x_train,y_train)
ls.score(x_train,y_train)
pred_ls = ls.predict(x_test)
lss = r2_score(y_test,pred_ls)
lss

0.15787295823913594

RANDOM FOREST

In [40]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
parameters = {'criterion':['mse','mae'],'max_features':["auto","sqrt","log2"]}
rf = RandomForestRegressor()
clf = GridSearchCV(rf,parameters)
clf.fit(x_train,y_train)
print(clf.best_params_)

{'criterion': 'mae', 'max_features': 'sqrt'}

In [41]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
rf = RandomForestRegressor(criterion="mae",max_features="sqrt")
rf.fit(x_train,y_train)
rf.score(x_train,y_train)
pred_rf = rf.predict(x_test)
rfs = r2_score(y_test,pred_rf)
print('R2 Score:', rfs*100)
rfscore = cross_val_score(rf,x,y,cv=5)
rfc = rfscore.mean()
print('Cross Val Score:',rfc*100)

R2 Score: 19.506689593503367
Cross Val Score: 17.78229530651629

SVR

In [42]:
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
sv = SVR()
sv.fit(x_train,y_train)
sv.score(x_train,y_train)
pred_rf = rf.predict(x_test)
svs = r2_score(y_test,pred_rf)
print('R2 Score:', svs*100)
svscore = cross_val_score(sv,x,y,cv=5)
svc = svscore.mean()
print('Cross Val Score:',rfc*100)

R2 Score: 19.506689593503367
Cross Val Score: 17.78229530651629

we are getting R2score value 19% in both SVR and RANDOM FOREST MODEL